<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<div data-controller="hello"
     data-hello-token="<%=current_user.nil? ? '' : current_user.token%>"
     >
  <input data-hello-target="name" type="text">

  <button data-action="click->hello#greet">
    Greet
  </button>

  <span data-hello-target="output">
  </span>
</div>

<%= debug @notifications.first.keys %>

<table>

  <thead>
    <tr>
      <td>id</td>
      <td>unread</td>
      <td>reason</td>
      <td>updated_at</td>
      <td>last_read_at</td>
      <td>subject</td>
      <td>repository</td>
      <td>url</td>
      <td>subscription_url</td>
      <td>--subscribe--</td>
    </tr>
  </thead>
  <tbody>
    <% @notifications.each do |notification| %>
      <%= render partial: "notification", locals: { notification: notification } %>
    <% end %>
  </tbody>
</table>

